body {
    margin: 0;
    background-color: #e0e8e9;
    font-family: 'Arial', sans-serif;
}
#map {
    width: 1200px;
    height: 900px;
}
#info {
    width: 600px;
    padding: 1em;
}

.dot {
    stroke: rgba(255,255,255,.5);
    opacity: 0.6;
}
.highlighted {
    fill: #3182bd;
    stroke: rgba(0, 0, 0, 1);
}