body {
    margin: 0;
    background-color: #eee;
    font-family: 'Arial', sans-serif;
}

#map {
    cursor: crosshair;
    width: 800px;
    height: 600px;
    -webkit-box-shadow: 3px 3px 3px rgba(60, 60, 60, 0.2);
    -moz-box-shadow: 3px 3px 3px rgba(60, 60, 60, 0.2);
    box-shadow: 3px 3px 3px rgba(60, 60, 60, 0.2);
}
.dot {
    stroke: rgba(255,255,255,.5);
    opacity: 0.6;
}

#info {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 800px;
    padding-left: 0.5em;
}
#source {
    font-size: 12px;
    float: right;
    display: block;
    text-anchor: end;
}
#time, #mag, #place { color: #555; }
#mag span { color: black; }